# Temporary files
*.swp
.DS_Store

# Ignore plugins folders since they are handled by vundle
vim/bundle/molokai
vim/bundle/vim-airline
vim/bundle/vim-airline-themes
vim/bundle/vim-surround
vim/bundle/vim-fugitive
vim/bundle/vim-devicons
vim/bundle/nerdtree
vim/bundle/vim-nerdtree-tabs
vim/bundle/nerdtree-git-plugin
vim/bundle/Command-T
vim/bundle/nerdcommenter
vim/bundle/ZoomWin
vim/bundle/tagbar
vim/bundle/syntastic
vim/bundle/vim-indent-guides
vim/bundle/tabular
vim/bundle/vimwiki
vim/bundle/ultisnips
vim/bundle/delimitMate
vim/bundle/vim-easymotion
vim/bundle/a.vim
vim/bundle/vim-css-color
vim/bundle/vim-snippets
vim/bundle/YouCompleteMe
vim/bundle/python-mode
vim/bundle/vim-sparkup
vim/bundle/vim-markdown
vim/bundle/ack.vim
vim/bundle/vim-stylus
vim/bundle/thrift.vim
vim/bundle/vim-polyglot
vim/bundle/vim-go
vim/bundle/fzf.vim
vim/bundle/vim-startify
vim/bundle/indentLine
